<div class="mb-4 border-b border-gray-200">
  <ul
    class="flex justify-center -mb-px text-sm font-medium text-center"
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist"
  >
    @for (tab of tabs; track $index) {
      <li class="me-2" role="presentation">
        <button
          [routerLink]="[tab.route]"
          routerLinkActive
          #rla="routerLinkActive"
          queryParamsHandling="merge"
          class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          [ngClass]="{
            'font-bold': rla.isActive,
            'border-gray-600': rla.isActive
          }"
          type="button"
          role="tab"
          aria-selected="false"
        >
          {{ tab.name }}
        </button>
      </li>
    }
  </ul>
</div>
