<div
  class="ng-autocomplete !w-full !rounded-full border !shadow-sm !overflow-hidden !text-center"
>
  <ng-autocomplete
    [data]="(data$ | async)?.list ?? []"
    [searchKeyword]="'name'"
    [placeholder]="'Cerca città'"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    (inputChanged)="onInputChanged($event)"
    (selected)="citySelected.emit($event)"
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <span [innerHTML]="item.name"></span>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
