<div
  class="ng-autocomplete !w-full !shadow-sm !text-center text-black dark:text-black"
>
  <ng-autocomplete
    [data]="(data$ | async)?.list ?? []"
    [searchKeyword]="'name'"
    [historyIdentifier]="'id'"
    [debounceTime]="50"
    [minQueryLength]="3"
    [placeholder]="'Cerca città'"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    (inputChanged)="onInputChanged($event)"
    [focusFirst]="true"
    [historyHeading]="'Ricerce recenti'"
    [historyListMaxNumber]="5"
    (selected)="citySelected.emit($event)"
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <span [innerHTML]="item.name"></span> - <span>{{ item.sys.country }}</span>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    @if (loading$ | async) {
      <div class="flex justify-center">
        <app-spinner></app-spinner>
      </div>
    } @else {
      <div [innerHTML]="notFound"></div>
    }
  </ng-template>
</div>
