<div class="flex flex-col">
  <div
    class="flex-0 flex items-center min-h-16 cursor-pointer select-none"
    (click)="toggle()"
  >
    <div class="flex-1 h-full overflow-hidden">
      <ng-content select="[header]"></ng-content>
    </div>

    <div class="flex-0 p-4 flex justify-center items-center">
      @if (expanded) {
        <ng-icon name="bootstrapChevronUp"></ng-icon>
      } @else {
        <ng-icon name="bootstrapChevronDown"></ng-icon>
      }
    </div>
  </div>

  <div *ngIf="expanded" class="flex-1 min-h-10">
    <ng-content select="[content]"></ng-content>
  </div>
</div>
