<div
  class="h-full flex flex-col bg-secondary-bg transition-colors dark:bg-dark-secondary-bg dark:text-slate-50"
>
  <div class="flex-0 h-16 flex items-center justify-between px-4 border-b-2">
    <div class="flex-0">
      <h2 class="text-xl">Geckosoft - Prova Tecnica</h2>
    </div>

    <div>
      <button
        class="flex items-center justify-center rounded-full p-2 shadow-md hover:shadow-sm active:shadow-sm cursor-pointer"
        (click)="toggleDarkMode()"
      >
        <ng-icon
          [name]="(darkModeEnabled$ | async) ? 'bootstrapMoon' : 'bootstrapSun'"
        ></ng-icon>
      </button>
    </div>
  </div>

  <div class="flex-1 overflow-auto pt-6 md:px-16 px-4 pb-4">
    <router-outlet></router-outlet>
  </div>

  <div class="flex-0 h-24 flex justify-center items-center px-4 border-t-2">
    <div class="flex-0">
      Made by
      <a href="https://stefanotambellini.it" target="_blank"
        >Stefano Tambellini</a
      >
    </div>
  </div>
</div>
