<div
  class="h-full flex flex-col bg-slate-50 transition-colors dark:bg-slate-700 dark:text-white"
>
  <div
    class="flex-0 h-16 flex gap-6 items-center justify-between px-4 bg-slate-700 bg-opacity-90 text-white"
  >
    <div class="flex-0 sm:block hidden">
      <h2 class="text-xl">Geckosoft - Prova Tecnica</h2>
    </div>

    <div class="flex-1">
      <app-city-search-bar
        (citySelected)="onCitySelected($event)"
      ></app-city-search-bar>
    </div>

    <div class="flex-0">
      <button
        class="flex items-center justify-center rounded-full p-2 shadow-md hover:shadow-sm active:shadow-sm cursor-pointer"
        (click)="toggleDarkMode()"
      >
        <ng-icon
          [name]="(darkModeEnabled$ | async) ? 'bootstrapMoon' : 'bootstrapSun'"
        ></ng-icon>
      </button>
    </div>
  </div>

  <div
    class="md:px-36 px-16 h-12 bg-slate-800 bg-opacity-90 text-white border-b border-slate-200flex sm:justify-normal justify-center"
  >
    <span
      *ngIf="currentWeather$ | async as currentWeather"
      class="inline-flex h-full items-center cursor-pointer select-none"
      [routerLink]="['/']"
    >
      <app-openweather-icon
        [iconCode]="currentWeather.weather[0].icon"
        [description]="currentWeather.weather[0].description"
      ></app-openweather-icon>

      <span>
        {{ currentWeather.main.temp | number: "1.0-0" }}°
        <span>
          {{ currentWeather.name }} - {{ currentWeather.sys.country }}
        </span>
      </span>
    </span>
  </div>

  <div>
    <app-navigation-tabs></app-navigation-tabs>
  </div>

  <div class="flex-1 overflow-auto pt-6 md:px-36 px-4 pb-4">
    <router-outlet></router-outlet>
  </div>

  <div class="flex-0 h-16 flex justify-center items-center px-4 border-t-2">
    <div class="flex-0 text-sm font-light">
      Made by
      <a
        href="https://stefanotambellini.it"
        target="_blank"
        class="bg-gradient-to-r from-red-600 via-orange-500 to-indigo-400 inline-block text-transparent bg-clip-text"
        >Stefano Tambellini</a
      >
    </div>
  </div>
</div>
