<div
  *ngIf="forecastGroupedByDays$ | async as currentForecast"
  class="py-2 sm:px-6 px-2 border rounded bg-white dark:bg-slate-800 bg-opacity-90"
>
  <h2 class="font-bold text-xl my-2">
    Previsioni meteo per i prossimi 5 giorni -
    {{ (forecast$ | async)?.city?.name }}
  </h2>

  @for (dayEntries of currentForecast; track $index; let first = $first) {
    <div class="w-full flex flex-col gap-4">
      <app-expandable [expanded]="first">
        <div header class="flex items-center py-2 sm:px-6 px-2">
          <div class="flex-0">
            <span class="font-bold">
              {{ dayEntries[0] | dateToLocaleDateString }}
            </span>
          </div>

          <div class="flex-1 flex flex-wrap justify-evenly">
            <div
              *ngFor="let entry of dayEntries[1]"
              class="flex flex-col justify-center items-center"
            >
              <div class="text-sm">
                {{ entry.dt_txt | dateToLocaleTimeString }}
              </div>

              <app-openweather-icon
                [iconCode]="entry.weather[0].icon"
                [description]="entry.weather[0].description"
              ></app-openweather-icon>
            </div>
          </div>
        </div>

        <div content class="w-full sm:h-96 h-60 py-4 sm:px-16 px-4">
          <app-line-chart [data]="dayEntries[1]"></app-line-chart>
        </div>
      </app-expandable>
    </div>
  }
</div>
