<div
  *ngIf="weather$ | async as weather"
  class="flex flex-col border rounded-lg overflow-hidden shadow transition-colors bg-gradient-to-tr from-cyan-500 to-blue-300 dark:from-cyan-800 dark:to-blue-700 text-white"
>
  <div
    class="flex-0 xl:px-16 sm:px-8 sm:py-4 p-2 sm:text-2xl bg-slate-700 bg-opacity-90"
  >
    <div>
      <span class="font-bold">{{ weather.name }}</span> alle
      {{
        currentDate.toLocaleTimeString("it", {
          timeZoneName: "short",
          hour12: false
        })
      }}
    </div>
  </div>

  <div class="flex-1 flex xl:px-16 sm:px-8 sm:py-4 p-2">
    <div class="flex-1">
      <div class="font-bold sm:text-7xl text-5xl">
        {{ weather.main.temp | number: "1.0-0" }}°
      </div>
      <span class="font-semibold text-2xl">{{
        weather.weather[0].description | titlecase
      }}</span>
      <div class="sm:text-lg sm:mt-2">
        <p>
          Massima: {{ weather.main.temp_max | number: "1.0-0" }}° • Minima:
          {{ weather.main.temp_min | number: "1.0-0" }}°
        </p>

        <p class="sm:mt-4 mt-2 flex items-center gap-2">
          <ng-icon name="bootstrapDroplet"></ng-icon>

          <span> {{ weather.main.humidity }} % </span>
        </p>

        <p class="mt-2 flex items-center gap-2">
          <ng-icon name="bootstrapWind"></ng-icon>

          <span> {{ weather.wind.speed }} m/s </span>
        </p>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <app-openweather-icon
        [iconCode]="weather.weather[0].icon"
        [description]="weather.weather[0].description"
        [size]="4"
      ></app-openweather-icon>
    </div>
  </div>
</div>

<div
  *ngIf="currentForecastGroupedByDays$ | async as currentForecast"
  class="mt-4"
>
  <h2 class="font-bold text-xl my-2">
    Previsioni meteo per i prossimi 5 gioni -
    {{ (forecast$ | async)?.city?.name }}
  </h2>

  <div class="rounded-lg overflow-hidden border shadow">
    <div
      *ngFor="let dayEntries of currentForecast"
      class="w-full flex flex-col gap-4"
    >
      <app-expandable>
        <div header class="flex items-center py-2 sm:px-6 px-2">
          <div class="flex-0">
            <span class="font-bold">
              {{ dayEntries[0] | dateToLocaleDateString }}
            </span>
          </div>

          <div class="flex-1 flex flex-wrap justify-evenly">
            <div
              *ngFor="let entry of dayEntries[1]"
              class="flex flex-col justify-center items-center"
            >
              <div class="text-sm">
                {{ entry.dt_txt | dateToLocaleTimeString }}
              </div>

              <app-openweather-icon
                [iconCode]="entry.weather[0].icon"
                [description]="entry.weather[0].description"
              ></app-openweather-icon>
            </div>
          </div>
        </div>

        <div content class="w-full sm:h-96 h-60 py-4 sm:px-16 px-4">
          <app-line-chart [data]="dayEntries[1]"></app-line-chart>
        </div>
      </app-expandable>
    </div>
  </div>
</div>
