<input
  list="countries"
  [(ngModel)]="inputValue"
  placeholder="Insert your location here"
  (keyup.enter)="search()"
/>
<datalist id="countries">
  <option *ngFor="let item of cities$ | async" [value]="item.city">
    {{ item.lat }} - {{ item.lng }}
  </option>
</datalist>

<button (click)="search()">Search</button>

<div *ngIf="currentForecast$ | async as currentForecast">
  data:

  {{ currentForecast$ | async | json }}

  <div *ngFor="let data of currentForecast.list">
    {{ data }}
  </div>
</div>
