<div>
  <input
    list="countries"
    [(ngModel)]="inputValue"
    placeholder="Insert your location here"
    (keyup.enter)="search()"
  />
  <datalist id="countries">
    <option *ngFor="let item of cities$ | async" [value]="item.city">
      {{ item.lat }} - {{ item.lng }}
    </option>
  </datalist>

  <button (click)="search()">Search</button>
</div>

<div
  *ngIf="currentWeather$ | async as currentWeather"
  class="flex flex-col border"
>
  <div class="flex-0">
    <div>
      {{ currentWeather.name }} at
      {{
        currentDate.toLocaleString("en-US", {
          timeZoneName: "short",
          hour12: false
        })
      }}
    </div>
  </div>

  <div class="flex-1 flex">
    <div class="flex-1">
      <div class="font-bold text-2xl">{{ currentWeather.main.temp }}°</div>

      <div>
        Max: {{ currentWeather.main.temp_max }} - Min:
        {{ currentWeather.main.temp_min }}
      </div>

      <div>
        <ng-icon name="bootstrapDroplet"></ng-icon>
        {{ currentWeather.main.humidity }}%
      </div>

      <div>
        <ng-icon name="bootstrapWind"></ng-icon>

        {{ currentWeather.wind.speed }}
      </div>
    </div>
    <div>
      <img
        [src]="
          'https://openweathermap.org/img/wn/' +
          currentWeather.weather[0].icon +
          '.png'
        "
      />

      {{ currentWeather.weather[0].description }}
    </div>
  </div>
</div>

<div *ngIf="currentForecastGroupedByDays$ | async as currentForecast">
  Forecast for {{ (currentForecast$ | async)?.city?.name }}

  <div *ngFor="let dayEntries of currentForecast">
    {{ dayEntries[0] }}
    <div *ngFor="let entry of dayEntries[1]">
      {{ entry.dt_txt }} :
      <img
        [src]="
          'https://openweathermap.org/img/wn/' + entry.weather[0].icon + '.png'
        "
      />
    </div>
  </div>
</div>
